


.container{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.label-style1{
  margin-right: 22%;
}
.label-style2{
  margin-right: 16%;
}
.input-style{
  padding: 5px 30px;
  width: 30%;
}
.btn1{
  width: 30%;
  height: 50px;
  margin-top: 2rem;
 background: rgb(116, 116, 153);
 color: white;
 font-weight: bold;
 font-size: 1rem;
 border: none;
 outline: none;
}
.list-items{
  background-color: #fff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  height: 40px;
  margin-right: 3rem;
 padding: 10px 20px;
}
.bg-warning-hover:hover{
  background-color: #448EE4;
}
.bg-info-hover:hover{
 background-color:  #8B8000;
}
.border-right{
  border-right: 4px solid #00c0ef;
}
.bg-info-hover.border-right {
  border-color: #8B8000; 
}

.bg-warning-hover.border-right {
  border-color: #448EE4; 
}
.mybtn{
  border: none;
 background: rgb(116, 116, 153);
 margin-top: -3rem;
  color: red;
}

